<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.qianhu.ChatOnlineSystem.Mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.ncu.qianhu.ChatOnlineSystem.Bean.Customer">
        <id column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <sql id="BaseColumn">
        name, password, gender
    </sql>

    <select id="find" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumn"/>
        FROM customer
        WHERE name = #{name, jdbcType=VARCHAR}
    </select>

</mapper>