<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.qianhu.ChatOnlineSystem.Mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.ncu.qianhu.ChatOnlineSystem.Bean.Message">
        <id column="message_id" property="messageId"/>
        <result column="message_sender_id" property="messageSenderId"/>
        <result column="message_receiver_id" property="messageReceiverId"/>
        <result column="message_time" property="messageTime"/>
        <result column="message_content" property="messageContent"/>
        <result column="message_stat" property="messageStat"/>
    </resultMap>

    <select id="findMessage" resultMap="BaseResultMap">
        SELECT *
        FROM message
        WHERE message_receiver_id = #{messageReceiverId,jdbcType=VARCHAR}
        AND message_stat = 0
    </select>

    <select id="findHistoryRecord" resultMap="BaseResultMap">
        SELECT *
        FROM message
        WHERE ( message_receiver_id = #{messageReceiverId,jdbcType=VARCHAR} AND message_sender_id = #{messageSenderId,jdbcType=VARCHAR} )
        OR ( message_sender_id = #{messageReceiverId,jdbcType=VARCHAR} AND message_receiver_id = #{messageSenderId,jdbcType=VARCHAR}  )
    </select>

    <insert id="insertMessage">
        INSERT INTO
        message(message_sender_id, message_receiver_id, message_time, message_content, message_stat)
        VALUES(#{messageSenderId,jdbcType=VARCHAR},#{messageReceiverId,jdbcType=VARCHAR},#{messageTime,jdbcType=VARCHAR},
        #{messageContent,jdbcType=VARCHAR},#{messageStat})
    </insert>

    <update id="updateMessage">
        UPDATE message
        SET message_stat=1
        WHERE message_receiver_id=#{messageReceiverId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteMessage">
        DELETE
        FROM message
        WHERE (message_sender_id=#{messageSenderId,jdbcType=VARCHAR} AND message_receiver_id=#{messageReceiverId,jdbcType=VARCHAR})
         OR (message_sender_id=#{messageReceiverId,jdbcType=VARCHAR} AND message_receiver_id=#{messageSenderId,jdbcType=VARCHAR})
    </delete>
</mapper>